<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Deadline Finder</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

 
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">


  <link href="static/img/favicon.ico" rel="icon">


  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">


  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link href="static/css/style.css" rel="stylesheet">

  
</head>

<body>

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
         
        </div>
      </div>

      <div class="col-md-12">
        <h1>
          Choosing and meeting the deadlines to universities can be hard.
          </h1>

        <p class="tagline">
          Let's help you decide which Graduate University you can apply to this fall.
        </p>
        <a class="btn btn-full" href="/form2">Get Started Now</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
  

  <!-- About -->

  <section class="about" id="about">
    <div class="container text-center">
      <h2 style="font-size: 48px; font-weight: strong">
          About this website
        </h2>

      <p style="font-size: 32px">
        Find out the scores that the univsersities expect you have when you apply to their University. Having only selective universities from the field of Computer Science, the website can grow upon support. They consider the scores from the examinations below.
      </p>

      <div class="row stats-row">
        <div class="stats-col text-center col-md-4 col-sm-5">
          <div class="circular--square">
           <img src="static/img/GRELOGO.jpg" />
           <div> <h3 style="font-weight: strong">Graduate Record Examinations</h3></div>
          </div>
        </div>

        <div class="stats-col text-center col-md-4 col-sm-5">
        	<div class="circular--square2">
        		<br> 
          <img src="static/img/TOEFLLOGO.jpg"  >
          <div><h3 style="font-weight: strong">Test of English as a foreign language</h3></div>
      </div>
        </div>

        <div class="stats-col text-center col-md-4 col-sm-5">
        	<div class="circular--square3">
           <img src="static/img/IELTSLOGO.jpg" >
           <div><h3 style="font-weight: strong">International English Testing System</h3></div>
       </div>
        </div>

        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
         
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->
  <!-- Parallax -->

  <div class="jumbotron" style="background: url(static/img/parallax-bg.jpg)">
    <div class="container">
     <div class="display-4" style="color: white" >GRE</div> <div style="color: white"> The Graduate Record Examinations (GRE) General Test is a standardized test that graduate schools use to evaluate candidates.It consists of 5 sections of evaluation. One AWA(Analytical Writing Assessment) section with two topics, Two Quantitaive Resoning(Math) and Two Verbal Reasoning sections. There's also one un-scored experimental section as well. It is evaluated out of 340 for the  two reasoning sections and out of 5 for the AWA.</div> 
     <hr>
     <div class="display-4" style="color: white">TOEFL </div><div style="color: white">The TOEFL iBT is the Test of English as a Foreign Language Internet-based Test. The TOEFL exam determines if a student — whose native language is not English — has English-language skills that are strong enough to succeed in courses at a college or university in the United States, Canada, United Kingdom, New Zealand, and Australia. The Internet-based exam contains four parts: Reading,Listening,Speaking,Writing. It is evealuted out of 120</div>
     <hr/>
   <div class="display-4" style="color: white">IELTS </div> 
    <div style="color: white">International English Language Testing System is another examination system similar to TOEFL. Testing the same set of skills of a student whose native language isn't English. But unlike TOEFL it is evaluated out of a scale of 9</div>
    
    </div>
  </div>
 
 <section class="team" id="team">
    <div class="container">
      <h2 class="text-center" id="devby">
          Developed by
        </h2>

      <div class="row">
        <div class="d-flex justify-content-between">
          <div class="card card-block">
            <a href="#" ><img alt="" class="team-img" src="static/img/dev.jpg" align="middle">
              <div class="card-title-wrap">
                <span class="card-title">Varun Keshav Kumar</span> <span class="card-text">"Shawarma Boy" / "Laddu"</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down" id="h4id">
              Follow Me at
                </h4>

                <nav class="social-nav">
                  <a href="https://www.facebook.com/varunwildchild" style="font-size:94px"> <i class="fa fa-github"></i></a>
                <a href="https://twitter.com/metalhead11_96" style="font-size:94px"> <i class="fa fa-twitter"></i></a>
                  <a href="https://github.com/VarunLaddu" style="font-size:94px"> <i class="fa fa-facebook"></i></a>
                  <a href="https://plus.google.com/+VarunKeshavKumar" style="font-size:94px"> <i class="fa fa-google"></i></a>

            </nav>

            
          </div>
          </a>
        </div>
        <div class="col-md-7"> <hr/>
           <div class="describe"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Aspiring Data Scientist
            <br/>
               <br/>
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Engineer(Jain University)
               <br/>
               <br/>
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Foodie(Most Definitely)
               <br/>
               <br/>
               &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Otaku( Kaizoku-ou ni ore wa naru)
                <br/>
               <br/>
               &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Metalhead
                <br/>
               <br/>
               &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; A hoot
                <br/>
               <br/>
               <hr/>
               &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<div class="quote">&nbsp; &nbsp; &nbsp; &nbsp; <span style="font-style: italic; font-size: 20px;">-"When you're hungry,Eat." Monkey.D Luffy</span></div>
           </div>
        </div>
      </div>

  </div>

     

  


  <!-- Required JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/tether/js/tether.min.js"></script>
  <script src="static/lib/stellar/stellar.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/easing/easing.js"></script>
  <script src="static/lib/stickyjs/sticky.js"></script>
  <script src="static/lib/parallax/parallax.js"></script>
  <script src="static/lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="static/js/custom.js"></script>

<!--  <script src="static/contactform/contactform.js"></script> -->

</body>
</html>
